*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.painter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
#paint{
    border: 2px solid #212121;
}
